/*
regular  : 400
medium   : 500
semi-bold: 600
bold     : 700
black    : 900
*/




/* -------------------------------
	fonts
------------------------------- */
// @font-face {
// 	font-family: 'Barlow';
// 	src: url('../fonts/Barlow/Barlow-Regular.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// }




/* -------------------------------
	mixins
------------------------------- */
@mixin transition {
	transition: all .3s ease-in-out;
}

@mixin bgimg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}




/* -------------------------------
	general styles
------------------------------- */
body {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	// font-family: 'Barlow', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
	color: #000;
}

body * {
	outline: none !important;
}

.row,
.content-wrapper {
	max-width: 1170px + 30px;
}

.content-wrapper {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}




/* -------------------------------
	typography
------------------------------- */
$margin-bottom: 24px;

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0 0 $margin-bottom;
}

h1, .h1 {

}

h2, .h2 {
	
}

h3, .h3 {
	
}

p {
	margin: 0 0 $margin-bottom;
}

p:empty {
	min-height: 26px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol {
	margin: 0 0 $margin-bottom;
	padding-left: 30px;
}

a {
	@include transition;

	&:hover {
		
	}
}

.blockquote {


	p {

	}
}



/* -------------------------------
	additional classes
------------------------------- */
.wp-block-button {
	margin-bottom: $margin-bottom;
}

img.lazy-loaded {
	height: auto;
}



/* -------------------------------
	additional classes
------------------------------- */
.content-wrapper > :first-child:not(div) {
	margin-top: $margin-bottom;
}

.fullwidth {
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.last-margin > *:last-child {
	margin-bottom: 0;
}

ul.styled-list,
.styled-list ul {
	margin: 0 0 $margin-bottom;

	li {
		position: relative;
		padding-left: 30px;

		&:before {
			content: '';
			display: block;
			border-radius: 50%;
			position: absolute;
			left: 0;

			// 
			top: 10px;
			background-color: #888;
			width: 6px;
			height: 6px;
		}
	}
}



/* -------------------------------
	forms
------------------------------- */
/*
** placeholder
*/
::-webkit-input-placeholder { color: #6e6e6e; }
::-moz-placeholder {          color: #6e6e6e; }
::-o-placeholder {            color: #6e6e6e; }
:-ms-input-placeholder {      color: #6e6e6e; }
input:-moz-placeholder {      color: #6e6e6e; }


/*
** wrapper
*/
.gform_wrapper {
	margin: 0 0 $margin-bottom;
}

.gform_fields {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}


/*
** columns
*/
.gfield {
	width: 100%;
	padding: 0 15px;
	margin-bottom: 26px;
}

.gfield_half {
	width: 50%;
}

.gfield_third {
	width: 33.333333%;
}

.gfield.gform_hidden {
	display: none;
}

.gfield.gform_validation_container {
	display: none;
}

@media only screen and (max-width: 639px) {

	.gfield_half,
	.gfield_third {
		width: 100%;
	}

}


/*
** label
*/
.gfield_label {
	color: #666;
	font-weight: 700;
}

.gfield_label .gfield_required {
	color: #ff0000;
}

.gfield.hidden_label .gfield_label {
	display: none;
}


/*
** fields
*/
[type=text],
[type=password],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=week],
[type=email],
[type=number],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=color],
textarea {
	width: 100%;
	box-shadow: none;
	border-width: 1px;
	border-style: solid;
	line-height: normal;
	@include transition;

	// 
	height: 50px;
	border-radius: 0;
	background-color: #fff;
	border-color: #eee;
	color: #666;
	padding: 0 15px;

	&:focus {
		border-color: #666;
	}
}

textarea {
	height: auto;
	resize: none;
	padding: 12px 15px;
	height: 150px;
}


/*
** footer
*/
.gform_footer {
	position: relative;
}

.gform_footer .gform_ajax_spinner {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}


/*
** error
*/
.validation_error,
.validation_message {
	font-size: 13px;
	color: #eb4a35;
}

.gfield_error {
	[type=text],
	[type=password],
	[type=date],
	[type=datetime],
	[type=datetime-local],
	[type=month],
	[type=week],
	[type=email],
	[type=number],
	[type=search],
	[type=tel],
	[type=time],
	[type=url],
	[type=color],
	textarea {
		border-color: #ff0000;
	}
}


/*
** success
*/
.gform_confirmation_message {
	font-size: 20px;
	font-weight: 500;
}




/* -------------------------------
	buttons
------------------------------- */
$button-width: 150px;
$button-height: 50px;

li.menu-item-btn > a,
.wp-block-button__link,
.gform_button,
.btn {
	display: inline-block;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	text-align: center;
	padding: 0 15px;
	@include transition;
	min-width: $button-width;
	height: $button-height;
	line-height: $button-height - 2px;
	border-radius: $button-height / 2;

	// 
	text-transform: uppercase;
	border-color: #666;
	color: #666;


	&:hover {
		background-color: #666;
		color: #fff;
	}
}




/* -------------------------------
	slick slider
------------------------------- */




/* -------------------------------
	animation
------------------------------- */
// .anim-fade {
// 	position: relative;
// 	@include transition;
// 	opacity: 0;
// 	top: 30px;

// 	&.animated {
// 		opacity: 1;
// 		top: 0;
// 	}
// }












