/*
** variables
*/
$header-height: 100px;
$fixed-header-height: 60px;
$logo-height: 50px;


/*
** main wrapper
*/
.main-wrapper {
	overflow: hidden;
	max-width: 100%;
	min-height: 100vh;
}


/*
** header
*/
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	@include transition;
	display: none;
	height: $header-height;

	// 
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

@media only screen and (min-width: 1024px) {

	.header.fixed {
		height: $fixed-header-height;
	}

}


/*
** placeholder
*/
.header-placeholder {
	height: $header-height;
}


/*
** fix admin bar
*/
body.admin-bar .header {
	top: 32px;
}

@media only screen and (max-width: 782px) {

	body.admin-bar .header {
		top: 46px;
	}

}


.header .row {
	height: 100%;
}


/*
** title bar
*/
.title-bar {
	padding: 0 15px;
	background: none;
}

.title-bar-title {
	height: $logo-height;
}

.title-bar-title img {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: auto;
}

@media only screen and (min-width: 1024px) {

	.menu-toggle {
		display: none;
	}

}


/*
** top bar
*/
.top-bar,
.top-bar ul {
	background-color: transparent;
}

.top-bar {
	padding: 0 15px;
}


/*
** menu 1st level
*/
.top-bar > ul.dropdown.menu {
	width: 100%;
	height: 100%;

	// 
	display: flex;
	justify-content: flex-end;
}

.top-bar > ul.dropdown.menu > li {
	height: 100%;
	list-style: none;
	display: flex;
	align-items: center;
}

.top-bar > ul.dropdown.menu > li > a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;

	// 
	padding: 0 15px;
	color: #666;
}

.top-bar > ul.dropdown.menu > li:hover > a,
.top-bar > ul.dropdown.menu > li.current-menu-item > a,
.top-bar > ul.dropdown.menu > li.current-menu-ancestor > a {
	background-color: #eee;
	color: #000;
}

// remove 1st level dropdown arrow
@media only screen and (min-width: 1024px) {

	.top-bar > ul.dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a {
		padding: 0 15px;

		&:after {
			display: none;
		}
	}

}


/*
** submenu
*/
// for dev
// .top-bar > ul.dropdown.menu > li:nth-child(1) > ul {
// 	display: block !important;
// }

.top-bar > ul ul.is-dropdown-submenu {
	border: 1px solid #eee;
	background-color: #fff;
}

.top-bar > ul ul.is-dropdown-submenu li {

}

.top-bar > ul ul.is-dropdown-submenu li > a {
	padding: 10px 15px;
	color: #999;
	font-size: 14px;
}

.top-bar > ul ul.is-dropdown-submenu li:hover > a,
.top-bar > ul ul.is-dropdown-submenu li.is-active > a,
.top-bar > ul ul.is-dropdown-submenu li.current-menu-item > a,
.top-bar > ul ul.is-dropdown-submenu li.current-menu-ancestor > a {
	background-color: #eee;
	color: #000;
}

// remove submenu dropdown arrow
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a:after,
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a:after {
	display: none;
}




@media only screen and (max-width: 1023px) {

	/*
	** header
	*/
	.header,
	.header-placeholder {
		height: $fixed-header-height;
	}

	.header .row {
		display: block;
	}


	/*
	** title bar
	*/
	.title-bar {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: space-between;
	}

	.title-bar .menu-toggle {
		line-height: normal;
	}

	.title-bar .menu-icon {
		vertical-align: top;

		&:after {
			background: #666;
			box-shadow: 0 7px 0 #666, 0 14px 0 #666;
		}
	}


	/*
	** top bar
	*/
	.top-bar {
		width: 100%;
		padding: 0;
		position: absolute;
		top: 100%;
		left: 0;

		// 
		background-color: #fff;
		padding: 10px 0;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	.is-drilldown {
		width: 100%;
	}

	.top-bar .is-drilldown ul {
		
	}

	.top-bar .is-drilldown ul li {

	}

	.top-bar .is-drilldown ul li a {
		background-color: transparent;

		// 
		text-align: center;
		padding: 15px;
		color: #666;
	}

	.top-bar .is-drilldown ul li.is-submenu-parent-item > a {
		text-transform: uppercase;
		font-weight: 700;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	.top-bar .is-drilldown ul li.current-menu-item > a,
	.top-bar .is-drilldown ul li.current-menu-item > ul > li.is-submenu-parent-item > a,
	.top-bar .is-drilldown ul li.current-menu-ancestor > a {
		background-color: #eee;
		color: #000;
	}

	// submenu arrow
	.drilldown .is-drilldown-submenu-parent > a:after {
		border-color: transparent transparent transparent #666;
	}

	// back link
	.drilldown .js-drilldown-back {
		position: relative;
	}

	.drilldown .js-drilldown-back a {
		font-size: 14px;
	}

	.drilldown .js-drilldown-back > a:before {
		position: absolute;
		left: 1rem;
		top: 50%;
		margin-top: -6px;

		// 
		border-color: transparent #666 transparent transparent;
	}

}


































